<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thomasgallinari.dndcharactersheet"
    android:versionCode="10"
    android:versionName="1.5.0"
    android:installLocation="auto">

    <uses-sdk
        android:targetSdkVersion="8"
        android:minSdkVersion="8" />
    <supports-screens
        android:smallScreens="false"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />

    <application
        android:label="@string/app_name"
        android:icon="@drawable/launcher_logo"
        android:theme="@style/Theme.DnD">

        <activity
            android:name=".view.CharactersActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.SheetActivity" />
        <activity
            android:name=".view.IdentityActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".view.ScoresActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".view.AttacksActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".view.HealthActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".view.PowersActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".view.SkillsActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".view.FeatsActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".view.EquipmentActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".view.RitualsActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".view.NotesActivity"
            android:theme="@android:style/Theme.NoTitleBar" />

    </application>

</manifest> 